.memoSection {
    margin: auto;
    width: max-content;
    border: solid 1px black;
}

.memoSection > *{
    width: max-content;
}

.memoInput {
    border: solid 1px black;
}

.memoInputSection{
    display: flex;
    align-items: center;
}
.memoInputSection > *{
    flex: 1;
    height: 100%;
}
.inputBox{
    flex-basis: 70%;
}
.inputButton{
    flex-basis: 30%;
}

.memoList {
    border-top: solid 1px black;
}

.memoList > ul{
    list-style-type: none;
}

.memoList .memoContent{
    margin-right: 5px;
}