.memoSection {
    width: 40em;
    border: solid 1px black;
    border-radius: 5px;
}

.memoInput {
    width: 100%;
}

.memoInputSection{
    display: flex;
    align-items: center;
}
.memoInputSection > *{
    flex: 1;
    height: 100%;
}

.inputBox{
    flex-basis: 70%;
    flex-grow: 2;
}
.inputButton{
    flex-basis: 20%;
    flex-grow: 0;
}

.memoList {
    border-top: solid 1px black;
}

.memoList > ul{
    list-style-type: none;
}

.memoList .memoContent{
    margin-right: 5px;
}