.todo{
    border: solid 2px black;
    margin: auto;
    width: max-content;
    border-radius: 5px;
}

.listUl{
    list-style: none;
    padding: 0;
}

.todoList.completed{
    text-decoration: line-through;
}