.mainSection{
    height: 100%;
    margin: auto;
    background-color: aqua;
    border: solid black 2px;
    width: 65%;
}

.date{
    margin: auto;
    margin-bottom: -0.8em;
    width: max-content;
    font: 3em sans-serif;
}