.mainSection{
    height: 100%;
    margin: auto;
    background-color: rgb(80, 80, 80);
    border-radius: 1cm;
    width: 68%;
    color: white;
}

.date{
    margin: auto;
    margin-bottom: -0.5em;
    width: max-content;
    font-size: 3em;
}
