.weatherSection{
    margin: auto;
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    background-color: dimgray;
}
.icon{
    width: max-content;
    margin: auto;
    border-radius: 100%;
    background-color: blanchedalmond;
}
.temperture{
    width: max-content;
    margin: auto auto 3px;
    margin-bottom: 3px;
}
.weather{
    width: max-content;
    margin: 3px auto;
}
.cityName{
    width: max-content;
    margin: 0px auto;
    font-size: 10px;
}