.gridContainer {
  display: grid;
  grid-template-rows: 0.5fr 5fr 0.5fr;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  height: 100vh;
  grid-template-areas:
    "header header header"
    ". main ."
    ". button button";
  background-image: url("../../public/background.jpg");
  background-size: cover;
  background-position: center;
}

.flexCenterRow {
  display: flex;
  align-items: center;
}

/* .profileButton:hover{
  animation:
} 
  요거 호버 에니메이션 넣어서 버튼 작동하도록 수정해야함*/

.profileContainer {
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: white; /* 프로필 배경 */
  border-radius: 20px; /* 둥근 모서리 적용 */
  width: auto; /* 자동 크기 조절 */
  height: 2.1em;
  transition: width 0.3s ease;
}

.nickname {
  font-size: 15px;
  color: black;
  margin-left: 0.2em;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  width: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1010;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 2em; /* 이미지 크기 설정 */
  height: 2em;
  border-radius: 50px;
  overflow: hidden; /* 이미지가 원형으로 보이도록 설정 */
  transition: width 0.3s ease;
}

.circle:hover {
  width: 2em; /* hover 시 폭 확대 */
}

.profileContainer:hover {
  width: 8em; /* hover 시 폭 확대 */
}