.profileContainer {
    border: 1px solid black;
    display: flex;
    align-items: center;
    background-color: white; /* 프로필 배경 */
    border-radius: 20px; /* 둥근 모서리 적용 */
    width: auto; /* 자동 크기 조절 */
    height: 2.1em;
    transition: width 0.3s ease;
  }
  
  .nickname {
    font-size: 15px;
    color: black;
    margin-left: 0.2em;
  }
  
  .circle {
    width: 2em; /* 이미지 크기 설정 */
    height: 2em;
    border-radius: 50px;
    overflow: hidden; /* 이미지가 원형으로 보이도록 설정 */
    transition: width 0.3s ease;
  }
  
  .circle:hover {
    width: 2em; /* hover 시 폭 확대 */
  }
  
  .profileContainer:hover {
    width: 8em; /* hover 시 폭 확대 */
  }
  